<div class="header-settings small-title">
    <div class="chevron-left icon-black" (click)="navigateToAdvancedSettings()">
      &#xe866;
    </div>
    <h1>Perfil</h1>
  </div>
  <section class="configure-username setting-option">
    <div class="content-setting-option-small">
      <h1>Nome de preferência</h1>
      <h2 class="id-h2">Jean Pereira</h2>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-email setting-option">
    <div class="content-setting-option-small">
      <h1>E-mail</h1>
      <h2 class="id-h2">j***a@gmail.com</h2>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-phone setting-option">
    <div class="content-setting-option-small">
      <h1>Telefone</h1>
      <h2 class="id-h2">*****8888</h2>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-profile-pic setting-option">
    <div class="content-setting-option-small">
      <h1>Alterar foto de perfil</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-adress setting-option">
    <div class="content-setting-option-small">
      <h1>Endereço</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-renda-mensal setting-option">
    <div class="content-setting-option-small">
      <h1>Renda mensal</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-complementary setting-option">
    <div class="content-setting-option-small">
      <h1>Dados complementares</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configure-extrato setting-option">
    <div class="content-setting-option-small">
      <h1>Extrato anual de juros, tarifas e impostos</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>