<div class="header-settings small-title">
    <div class="chevron-left icon-black" (click)="navigateToAdvancedSettings()">
      &#xe866;
    </div>
    <h1>Perfil</h1>
  </div>
  <section class="configurar setting-option">
    <div class="content-setting-option">
      <div class="advanced-title">
        <h1>Configuar Pix</h1>
        <h2>Gerencie seu limite diário de transferências ou suas chaves Pix</h2>
      </div>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configurar setting-option">
    <div class="content-setting-option">
      <div class="advanced-title">
        <h1>Portabilidade de salário</h1>
        <h2>Peça e acompanhe seus pedidos de protabilidade.</h2>
      </div>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configurar setting-option">
    <div class="content-setting-option">
      <div class="advanced-title">
        <h1>Definir valor do saldo</h1>
        <h2>Defina o valor que será exibido na sua conta</h2>
      </div>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configurar setting-option">
    <div class="content-setting-option-small">
        <h1>Opções de depósito</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>
  <section class="configurar setting-option">
    <div class="content-setting-option-small">
        <h1>Cancelar conta</h1>
      <div class="chevron-right icon-black">&#xe86c;</div>
    </div>
  </section>