<div class="header-settings">
    <div class="chevron-left icon-black" (click)="navigateToSettings()">
      &#xe866;
    </div>
    <h1>Configurar</h1>
  </div>

  <h2 class="title-adv-settings">Serviços</h2>
  
  <content class="settings-content">
    <section class="configure-card setting-option">
      <div class="content-setting-option">
        <div class="card-ic icon-black">&#xe890;</div>
        <h1>Configurar Cartão</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="configure-account setting-option">
      <div class="content-setting-option" (click)="navigateToConfigAccount()">
        <div class="money icon-black">&#xe857;</div>
        <h1>Configurar conta</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="configure-pix-key setting-option">
      <div class="content-setting-option">
        <div class="pix icon-black">&#xe87f;</div>
        <h1>Configurar chaves Pix</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>

    <h2 class="title-adv-settings">Aplicativo</h2>

    <section class="edit-profile setting-option">
      <div class="content-setting-option" (click)="navigateToConfigProfile()">
        <div class="person icon-black">&#xe83e;</div>
        <h1>Editar dados do Perfil</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="appearance setting-option">
      <div class="content-setting-option">
        <div class="theme icon-black">&#xe840;</div>
        <h1>Aparência</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="notifications setting-option">
      <div class="content-setting-option">
        <div class="notifcation-icon icon-black">&#xe803;</div>
        <h1>Notificações</h1>
        <div class="popup-number">
          <h2>24</h2>
        </div>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="help setting-option">
      <div class="content-setting-option">
        <div class="help-icon icon-black">&#xe8a9;</div>
        <h1>Me ajuda</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>