<div class="toolbar-pix-area">
    <div class="header">
      <div class="close icon-greyed" (click)="navigateToHome()">&#xe86d;</div>
      <div class="right-icons">
        <div class="help icon-greyed">&#xe8a9;</div>
      </div>
    </div>
    <h1>Área Pix</h1>
    <h2>
      Envie e receba pagamentos a qualquer hora e dia da semana, sem pagar
      nada por isso.
    </h2>
  </div>

  <div class="send-pix">
    <h1>Enviar</h1>

    <div class="send-pix-options">
      <div class="carousel keen-slider" #sliderRef>
        <div class="carousel-item keen-slider__slide">
          <div class="carousel-item-circle">
            <div class="transferir icon-black">&#xe856;</div>
          </div>
          <span>Transfeir</span>
        </div>

        <div class="carousel-item keen-slider__slide">
          <div class="carousel-item-circle">
            <div class="programar icon-black">&#xe805;</div>
          </div>
          <span>Programar</span>
        </div>

        <div class="carousel-item keen-slider__slide">
          <div class="carousel-item-circle">
            <div class="pix-copy-and-paste icon-black">&#xe80e;</div>
          </div>
          <span>Pix Copia e Cola</span>
        </div>

        <div class="carousel-item keen-slider__slide">
          <div class="carousel-item-circle">
            <div class="qrcode icon-black">&#xe824;</div>
          </div>
          <span>Ler QR code</span>
        </div>
      </div>
    </div>
  </div>

  <div class="recieve-pix">
    <h1>Receber</h1>

    <div class="recieve-pix-options">
      <div class="recieve-pix-item">
        <div class="carousel-item-circle">
          <div class="cobrar icon-black">&#xe861;</div>
        </div>
        <span>Cobrar</span>
      </div>

      <div class="recieve-pix-item">
        <div class="carousel-item-circle">
          <div class="depositar icon-black">&#xe855;</div>
        </div>
        <span>Depositar</span>
      </div>
    </div>
  </div>

  <div class="others-pix-area">
    <section class="register-pix pix-option">
      <div class="content-pix-option">
        <div class="text-pix-option">
          <h1>Registrar ou trazer chaves</h1>
          <h2>
            Registre uma nova chave ou faça uma portabilidade para o Nubank.
          </h2>
        </div>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="configure-pix pix-option">
      <div class="content-pix-option">
        <div class="text-pix-option">
          <h1>Configurar Pix</h1>
          <h2>
            Gerencie seu limite diário de transferências ou suas chaves Pix.
          </h2>
        </div>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
  </div>