.toolbar-pix-area {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    padding-top: 30px;
  
    h1 {
      font-size: 28px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  
    h2 {
      font-size: 18px;
      font-weight: 400;
      color: rgb(92, 92, 92);
    }
  }
  .send-pix {
    padding-right: 28px;
  
    h1 {
      padding-left: 28px;
    }
    
  }
  .recieve-pix-options {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    align-items: center;
  }
  
  .recieve-pix {
    padding-bottom: 28px;
  
    h1 {
      padding-left: 28px;
    }
  
    span {
      text-align: center;
      font-size: 13.5px;
      font-weight: bold;
      justify-content: center;
    }
  }
  
  .recieve-pix-item {
    text-align: center;
    justify-content: center;
  }
  
  .content-pix-option {
    display: flex;
    align-items: center;
    height: 70px;
    margin-left: 24px;
    margin-right: 24px;
  
    h1 {
      font-size: 16px;
      font-weight: bold;
    }
  
    h2 {
      margin-top: 4px;
      font-size: 12px;
      color: rgb(92, 92, 92);
      font-weight: 450;
      width: 230px;
    }
  }

