<div class="toolbar-settings">
    <div class="header">
      <div class="close icon-greyed" (click)="navigateToHome()">&#xe86d;</div>
      <div class="right-icons">
        <div class="help icon-greyed">&#xe8a9;</div>
        <div class="notificaton-icon icon-greyed">&#xe803;</div>
        <div class="notification-purple"></div>
      </div>
    </div>
    <div class="account-info">
      <div class="person-circle-greyed">
        <div class="person icon">&#xe83e;</div>
        <div class="customize-popup">
          <div class="customize-icon icon-greyed-customize">&#xe822;</div>
        </div>
      </div>
      <div class="account-details">
        <h2>Jean Pereira</h2>
        <h3>Agência 0001 ● Conta 10101010-1</h3>
        <h3>Banco 0100 ● Nu Pagamentos S.A. - Instituição de Pagamento</h3>
      </div>
    </div>
    <div class="card-small">
      <div class="nucoin ic icon-black">&#xe864;</div>
      <span>Nucoin</span>
      <div class="card-popup">
        <h2>Novo</h2>
      </div>
    </div>
  </div>

  <content class="settings-content">
    <section class="seguro-vida setting-option">
      <div class="content-setting-option">
        <div class="heart icon-black">&#xe8ac;</div>
        <h1>Seguro Vida</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="modo-rua setting-option">
      <div class="content-setting-option">
        <div class="house-person icon-black">&#xe85f;</div>
        <h1>Modo Rua</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="configurar setting-option" (click)="navigateToAvancedSettings()">
      <div class="content-setting-option">
        <div class="settings icon-black">&#xe82f;</div>
        <div class="advanced-title">
          <h1>Configurar</h1>
          <h2>Cartão, Conta, Pix, Perfil</h2>
        </div>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="segurança setting-option">
      <div class="content-setting-option">
        <div class="security icon-black">&#xe832;</div>
        <h1>Segurança</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="open-finance setting-option">
      <div class="content-setting-option">
        <div class="bank icon-black">&#xe850;</div>
        <h1>Open Finance</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="documentos setting-option">
      <div class="content-setting-option">
        <div class="document icon-black">&#xe860;</div>
        <h1>Documentos</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <section class="pedir-pj setting-option">
      <div class="content-setting-option">
        <div class="empresa icon-black">&#xe863;</div>
        <h1>Pedir conta PJ</h1>
        <div class="chevron-right icon-black">&#xe86c;</div>
      </div>
    </section>
    <div class="exit-app">
      <div class="button-rounded">
        <div class="exit ic-e icon-black">&#xe83b;</div>
        <h1>Sair do aplicativo</h1>
      </div>
    </div>
  </content>